* {
    box-sizing: border-box;
    
    margin: 0 auto;
}

body{
    font-family: 'Merriweather Sans', sans-serif;
    width: 100%;   
}



/* Header */

header{
    width: 100%; 
    background-color:#693c72;  
    margin-bottom: 20px;
}




header h1{
    font-size: 1.3rem;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-weight: 400;
}

/* main */

main {
    width: 75%;
    margin: 0 auto;
}

main h2{
    color: #2c3845;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 10px;
}


main .main-p{
    color: lightgray;
    text-align: center;
    font-size: 0.80rem;
    margin-bottom: 40px;
}

/* border */

.border {
width: 88%;
}

.border .main-border-top{
border-top: 4px solid #2c3845;
font-size: 0rem;
color: white;

}

.border .main-border-bottom {
    border-bottom: 2px solid #2c3845;
    padding-bottom: 2px;
    font-size: 0rem;
    color: white;
    margin-bottom: 25px;
}


.border_second{
width: 88%;
}

.border-second .main-border-top{
border-top: 4px solid #2c3845;
font-size: 0rem;
margin: 20px 0;
margin-bottom: 30px;
}


/* Form Part 1 */

form {
    width: 88%;
}

fieldset{
    border: 0;
    padding: 0;
}

fieldset legend{
    margin-bottom: 15px;
    font-size: 1.2rem;
}

label
{
    color:#9aa0a5; 
}

input,
select{
    margin: 8px 0;
    background-color: #eef0f2;
    padding: 12px;
    border-radius:3px;
    border: 0;    
}

.input-part1-form{
    width: 100%;
}

.part1{
    width: 100%;
}

::placeholder {
    color: silver;
    text-align: end;
    font-style: italic;
}

.box-zipcode{
    width: 50%;
}



.form-p {
    font-size: 0.9rem;
    color:gray;
    padding-left: 7px;
    margin-top: 10px;
    line-height: 1.6rem;
    text-align: left;   
}


option:checked {
    box-shadow: 0 0 0 3px lime;
    color: red;
  }


/* Focus */

:focus {
    background: #693c72;
 
  
  }

/* Radio and Checkbox */

legend {
    width: 100%;
    text-align: left;
}

.click-option{
margin-left: 5px;
margin-right: 10px;
}





/* Text Area */

.label-p{
color:#9aa0a5;
font-size: 0.9rem;
margin-left: 3px ;

}


textarea{
    margin-top: 18px;
    margin-bottom: 20px;
    background-color: #eef0f2;
    border: 0;
    height: 100px;
    border-radius: 3px;
    
}


 

/* Button */
button{
width: 100%;
margin-top: 12px;
padding: 20px 30px;
background-color:#693c72;
border: 0;
border-radius: 3px;
color: white;
font-size: 1.1rem;
font-weight: 500;
cursor:pointer;
}




/* Footer */

footer {
    margin-top: 25px;
    padding-bottom: 100px ;
    text-align: center;
    font-size: 0.8rem;
    color:gray;
    font-style: italic;
    

}


@media screen and (min-width: 768px){

    /* main */
    main{
        margin-top: 50px;
    }

    main h2{
        font-size: 1.7rem;
    }

    main .main-p{
        font-size: 1rem;
    }


    /* border */

    .border{
        margin-bottom: 45px;
    }

    .border-second{
        margin: 45px 0 45px;
    }

    /* form part 1 */

    .label-pat1-form{
        margin-left: 0;
        align-self: center;
    }

    .flex-form {
        display: flex;
        
    }

    .input-part1-form{
        width: 80%;
        margin: 0;  
    }


    .box-zipcode{
        width: 30%;
        margin-right: 340px;
    }
}

